* {
  margin: 0px;
  padding: 0px;
}
.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.search-section {
  width: 350px;
  text-align: center;
  padding: 20px;
  background: white;
  box-shadow: 2px 5px 12px black;
  flex-wrap: wrap;
  border-radius: 75px;
}

.background-carousel {
  position: absolute;
  margin: auto;
  z-index: -1;
}

.searchbar {
  display: inline-flex;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px;
  box-shadow: 4px 4px 10px black;
}
.searchbar input {
  text-align: center;
  border: none;
}
.fa.fa-search {
  border: none;
  padding: 3px;
}

.search-results {
  height: 50vh;
  background: white;
}
